body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size:27px;
    color: white;
    text-align: center;}

button {
    height: 60px;
    width: 110px;
    font-weight: bold;}
#sevenButton {
    font-size: 24px;
    padding-bottom: 10px;}
#eightButton {
    font-size: 24px;
    padding-bottom: 10px;}
#nineButton {
    font-size: 24px;
    padding-bottom: 10px;}

#fourButton {
    font-size: 24px;
    padding-bottom: 10px;}
#fiveButton {
    font-size: 24px;
    padding-bottom: 10px;}
#sixButton {
    font-size: 24px;
    padding-bottom: 10px;}
#oneButton {
    font-size: 24px;
    padding-bottom: 10px;}
#twoButton {
    font-size: 24px;
    padding-bottom: 10px;}
#threeButton {
    font-size: 24px;
    padding-bottom: 10px;}
#decimalButton {
    font-size: 24px;
    padding-bottom: 10px;}
#zeroButton {
    font-size: 24px;
    padding-bottom: 10px;}

#divisionButton{
    font-size: 24px;
    background-color: magenta;
    padding-inline: 10px;}
#additionButton {
    font-size: 24px;
    background-color: navy;}
#multiplicationButton {
    font-size: 24px;
    background-color: sandybrown;}
#subtractionButton {
    font-size: 24px;
    background-color: saddlebrown;
    padding: 10px;}
#equalButton {
    font-size: 24px;
    background-color: #orangered;
    padding-bottom: 10px;}
#ClearButton {
    font-size: 24px;
    background-color: orange;
    padding-bottom: 10px;}
#MayankButton {
    font-size: 24px;
    background-color: greenyellow;
    padding-bottom: 10px;}  
#PercentButton {
    font-size: 24px;
    background-color: green;
    padding-bottom: 10px;}      
#PiButton {
    font-size: 24px;
    background-color: black;
    padding-bottom: 10px;}  